// -----------------------------------------------------------------------------
// Single.php styles
// -----------------------------------------------------------------------------

body.single {
  // H1
  .entry-title {
    text-align: center;
  }

  // Meta
  .entry-meta {
    text-align: center;
  }
  // Time stamp
  .entry-time {
    font-family: $sans;
    position: relative;
    margin-top: 3rem;
    display: block;

    &::before {
      content: "—";
      position: absolute;
      top: -2.4rem;
      left: 50%;
      color: rgba($black, 0.4);
      transform: translateX(-50%);
    }
  }

  // Category list
  .entry-categories {
    font-family: $italic;
    font-style: italic;
    max-width: 28rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;

    a {
      color: $text-color;
      margin: 0 0.5rem;
    }
  }

  .entry-content {
    margin-top: 3rem;

    // Center all elements
    p,
    ul,
    ol,
    blockquote,
    h2,
    h3,
    h4,
    h5,
    h6 {
      max-width: 44rem;
      margin-left: auto;
      margin-right: auto;
    }

    // Limit the width of paragraphs
    p {
      font-size: clamp(1.125rem, 1.0466rem + 0.3922vw, 1.375rem);
      line-height: 1.5;
      margin-bottom: 1.5rem;
    }

    p + img {
      max-width: 100%;
    }

    h2 {
      font-family: $bold;
      font-weight: 900;
      font-size: 1.5rem;
      font-size: 2.25rem;
      margin: 3rem auto 1rem auto;
    }

    // Drop cap
    > p:first-of-type::first-letter {
      font-size: 3em;
      font-family: $bold;
      float: left;
      line-height: 0.68;
      font-weight: 900;
      margin: 0.14em 0.1em 0 0;
      text-transform: uppercase;
      font-style: bold;
    }

    // Blockquote
    .wp-block-quote {
      max-width: 50rem;
      color: $cream;
      background-color: $gradient-a8;
      padding: 3rem 3rem 2rem 3rem;
      font-family: $sans;
      margin: 3rem auto;

      p {
        font-family: $sans;
        font-style: normal;
      }
      em {
        font-family: $sans;
        font-style: normal;
      }

      @include drop-shadow;
    }

    // Pullquote
    .wp-block-pullquote {
      background-color: $gradient-a3;
      max-width: 50rem;
      margin: 3rem auto 3rem auto;
      padding: 1rem 3rem 2rem 3rem;
      font-family: $bold;
      font-weight: 900;
      font-style: normal;
      font-size: 3rem;

      p {
        font-size: 3rem;
        font-family: $bold;
        font-weight: 900;
        font-style: normal;
      }
      em {
        font-family: $bold;
        font-weight: 900;
        font-style: normal;
      }
    }

    ol,
    ul {
      max-width: 42rem;
      padding-top: 1rem;
    }

    a:not(.featured__item-link) {
      color: $text-color;
      transition: all 200ms ease-in-out;
      text-decoration: underline;
      text-decoration-color: $link-color;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;
      text-decoration-skip-ink: 0px;
      background-color: rgba($link-color, 0.2);
      font-family: $sans-bold;
      font-style: normal;
      font-weight: bold;
      // @include sweep-to-top;

      em {
        font-family: $sans-bold;
        font-style: normal;
        font-weight: bold;
      }
      @include on-event {
        text-decoration-color: $text-color;
        background-color: rgba($link-color, 0.5);
      }
    }
  }
}

body.single {
  .related {
    margin-top: $push;
    border-top: 3px solid $light-grey;
  }
  .related__heading {
    font-family: $sans-bold;
    font-weight: bold;
    font-size: 1.625rem;
    margin-top: 1rem;
  }
}

// Single post pagination (previously, next)
.single-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-family: $sans-bold;
  max-width: 44rem;
  margin: 1rem auto auto auto;

  a {
    color: $text-color;
    position: relative;
    padding: 0 1.45rem;
    margin: auto 0.5rem;
    @include button;

    // @include on-event {
    // text-decoration-color: $text-color;
    // }

    // &:nth-of-type(1)::before {
    //   content: "←";
    //   width: 1rem;
    //   height: 1rem;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    // }

    // &:nth-of-type(2)::before {
    //   content: "→";
    //   width: 1rem;
    //   height: 1rem;
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    // }
  }
}
