// -----------------------------------------------------------------------------
// Checkbox component
// -----------------------------------------------------------------------------

// Custom checkbox styling for contact form 7 checkbox
span.wpcf7-list-item {
  display: block;
  margin: 0 0 0.5rem 0;
}
.wpcf7 .wpcf7-list-item {
  display: block;
  margin-bottom: 0.5rem;
}
.wpcf7-checkbox label {
  position: relative;
  cursor: pointer;
}
.wpcf7-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
  left: 0;
}
.wpcf7-checkbox input[type="checkbox"] + span {
}

.wpcf7-checkbox input[type="checkbox"] + span:before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 0;
  height: 1.5rem;
  width: 1.5rem;
  top: 0px;
  left: 0px;
  background-color: $gradient-a4;
  border-radius: 0.25rem;
}
.wpcf7-checkbox input[type="checkbox"] + span:after {
  display: block;
  position: absolute;
  content: "\2713";
  // content: "\10102";
  height: 1.5rem;
  width: 1.5rem;
  top: 0;
  left: 0.05rem;
  visibility: hidden;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5rem;
  color: $gradient-a2;
}
.wpcf7-checkbox input[type="checkbox"]:checked + span:before {
  background-color: $extra-dark;
}
.wpcf7-checkbox input[type="checkbox"]:checked + span:after {
  visibility: visible;
}
.wpcf7-list-item-label {
  margin-left: 2.15rem;
  display: inline-block;
}
