// -----------------------------------------------------------------------------
// FAQ component with stacked, sliding cards
// -----------------------------------------------------------------------------

.block-faq {
  margin-bottom: $push;
}

/* ------------------------------------ *\
   The heading for the FAQ section
\* ------------------------------------ */

.stacked-card-title {
  position: relative;
  padding-bottom: 2rem;
}

/* ------------------------------------ *\
   Global, non-sticky card styles
\* ------------------------------------ */

.stacked-card {
  position: relative;
  margin-bottom: 3rem;
  border-radius: 1.25rem;

  &__heading-wrapper {
    display: flex;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
  }

  &__heading {
    color: $white;
    padding: 1.25rem;
    width: 46.25rem;
    display: block;
    text-align: center;
    margin: 2.5rem 3.5rem;
    position: relative;
    font-family: $sans;
    line-height: 1.35;

    @media screen and (max-width: $breakpoint-medium-large) {
      width: auto;
    }

    @media screen and (max-width: $breakpoint-medium-large) {
      margin: 2.5rem;
    }

    // The speech pointer (triangle) for the heading bg
    &::before {
      border: 1.2rem solid transparent;
      border-top: 1.2rem solid transparent;
      border-top-width: 2.4rem;
      border-bottom: 0;
      height: 0;
      width: 0;
      content: "";
      display: block;
      position: absolute;
      bottom: 40%;
      transform-origin: center;
    }
  }

  &__content-wrapper {
    padding: 6.25rem;
    min-height: 18rem;

    @media screen and (max-width: $breakpoint-medium-small) {
      padding: clamp(1rem, 0rem + 5vw, 2rem);
    }
  }

  &__content {
    columns: auto 24rem;
    gap: 3rem;
    color: $cream;
    font-family: $sans;
    min-height: 20rem;
  }
}

/* ------------------------------------ *\
   Sticky card styles
\* ------------------------------------ */

// Only use the stacked card effect if the viewport
// height is greater than the minimum values.

body {
  @media screen and (min-height: 55rem) and (min-width: $breakpoint-medium) {
    // Stick the section title
    .stacked-card-title {
      position: sticky;
      top: 2rem;
    }

    // Stick the cards
    .stacked-card {
      position: sticky;
      top: 3rem;
    }

    // Set the value where the card will stop scrolling
    @for $i from 1 through 20 {
      .stacked-card:nth-child(#{$i}n) {
        top: $i * 3rem;
      }
    }
  }
}

/* ------------------------------------ *\
   Select every fifth card beginning at 1
\* ------------------------------------ */

.stacked-card {
  // Cards 1, 5, etc.
  &:nth-of-type(4n + 1) {
    background-color: $gradient-d8;
    .stacked-card__heading-wrapper {
      justify-content: flex-start;
      background-color: $dark-blue;
    }
    .stacked-card__heading {
      background-color: $gradient-d8;
      &::before {
        @include pointer-left;
        border-top-color: $gradient-d8;
      }
    }
  }

  // Cards 2, 6, etc.
  &:nth-of-type(4n + 2) {
    background-color: $gradient-d7;
    .stacked-card__heading-wrapper {
      justify-content: flex-end;
      background-color: $gradient-b9;
    }
    .stacked-card__heading {
      background-color: $gradient-d7;
      &::before {
        @include pointer-right;
        border-top-color: $gradient-d7;
      }
    }
  }

  // Cards 3, 7, etc.
  &:nth-of-type(4n + 3) {
    background-color: $gradient-a7;
    .stacked-card__heading-wrapper {
      justify-content: flex-start;
      background-color: $gradient-d8;
    }
    .stacked-card__heading {
      background-color: $gradient-a7;
      &::before {
        @include pointer-left;
        border-top-color: $gradient-a7;
      }
    }
  }

  // Cards, 4, 8, etc.
  &:nth-of-type(4n + 4) {
    background-color: $gradient-b9;
    .stacked-card__heading-wrapper {
      justify-content: flex-end;
      background-color: $gradient-d7;
    }
    .stacked-card__heading {
      background-color: $gradient-b9;
      &::before {
        @include pointer-right;
        border-top-color: $gradient-b9;
      }
    }
  }
}
