// -----------------------------------------------------------------------------
// Form
// -----------------------------------------------------------------------------

.form {
  margin: $push auto;
  padding: 4.25rem;
  color: $cream;
  background-color: $dark-blue;

  @media screen and (max-width: $breakpoint-medium) {
    padding: 2rem;
  }

  @media screen and (max-width: $breakpoint-small) {
    @include fullbleed;
  }

  p {
    margin: 0;
    padding: 0;
    width: auto;
    min-width: none;

    &.form__checkbox-label {
      margin-bottom: 0.2rem;
    }
  }

  input {
    color: $cream;
    background-color: $gradient-d8;
    border: none;
    font-family: $sans;
    font-weight: normal;
    line-height: 2rem;
    margin-top: 0.2rem;

    &[type="checkbox"] {
      margin-bottom: 0.75rem;
      margin-right: 0.2rem;
    }

    &::placeholder {
      color: $gradient-a4;
    }
  }

  &__field {
    input {
      max-width: 44rem;
    }

    &--cols {
      display: flex;
      justify-content: space-evenly;
      gap: 1.5rem;
      margin-top: 2rem;

      @media screen and (max-width: $breakpoint-medium) {
        flex-direction: column;
      }
    }

    &--column {
      flex-basis: 50%;
    }
  }

  &__label,
  &__checkbox-label {
    color: $gradient-a3;
    font-family: $sans-bold;
    font-weight: bold;
    position: relative;
  }

  &__required {
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    background-color: $gradient-d8;
    padding: 1.5rem;
    min-height: 15rem;

    @media screen and (max-width: $breakpoint-medium) {
      min-height: auto;
    }

    label {
      color: $gradient-a3;
      font-family: $sans;
      font-weight: normal;
    }
  }

  &__field--textarea {
    margin-top: 2rem;

    .form__label {
      margin-bottom: 0.3rem;
      display: inline-block;
    }

    textarea {
      color: $cream;
      background-color: $gradient-d8;
      border: none;
      font-family: $sans;
      font-weight: normal;

      &::placeholder {
        color: $gradient-a4;
      }
    }
  }
}

input.form__submit[type="submit"] {
  cursor: pointer;
  color: $white;
  background-color: $gradient-a8;
  padding: 1rem;
  font-family: $sans-bold;
  font-weight: bold;
  text-decoration: none;
  transition: all 200ms;
  border-radius: 0;
  margin-top: 3rem;
  font-size: 1.25rem;

  @include on-event {
    color: $black;
    background-color: $link-color;
    text-decoration: none;
  }
}

.asterisk {
  &::after {
    color: $gradient-a6;
    content: "*";
    display: inline-block;
    padding-left: 0.1rem;
  }
}

.wpcf7-response-output {
  border: 0;
  width: 100%;
  margin: 2rem 0;
  padding: 1rem;
  font-family: $sans-bold;
  font-weight: bold;
}

.wpcf7-not-valid-tip {
  color: #f080af;
  font-family: $sans-bold;
  font-weight: bold;
  padding-top: 0.5rem;
}

.wpcf7 form .wpcf7-response-output {
  margin: -8.25rem 0 8.25rem;
  padding: 0.2em 1em;
  border: 0;
  background-color: #69cbe9; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output {
  display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
  border: 0;
  background-color: #82d689;
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  border: 0;
  border-color: #e67d7d;
}

.wpcf7 form.spam .wpcf7-response-output {
  border: 0;
  border-color: #e28b5f;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  border-color: #ffb900;
}
