// -----------------------------------------------------------------------------
// Sortable testimonials (using Isotope.js)
// -----------------------------------------------------------------------------

/* ------------------------------------ *\
   BG colors for items
\* ------------------------------------ */

// $student-color: $gradient-d9;
$student-color: $gradient-a8;
$parents-color: $gradient-a9;
$writing-color: $gradient-a7;
$college-color: $gradient-a0;

/* ------------------------------------ *\
   The control buttons
\* ------------------------------------ */

.filter-button-group {
  border-bottom: 0.2rem solid $light-grey;
  margin-bottom: 2rem;

  @media screen and (max-width: $breakpoint-medium-large) {
    margin-top: 3rem;
  }

  button {
    background-color: transparent;
    color: $text-color;
    font-family: $sans-bold;
    font-weight: bold;
    padding: 0;
    display: inline-block;
    border-radius: 0;
    padding: 0.8rem 0.2rem;
    position: relative;
    text-decoration: none;
    text-decoration-color: transparent;
    text-decoration-thickness: 0.1rem;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    @include on-event {
      text-decoration: underline;
      text-decoration-color: $text-color;
      border-bottom: 0 solid transparent;
    }

    @media screen and (max-width: $breakpoint-medium-large) {
      display: block;
      flex-direction: column;
      padding: 0.3rem 0;
      transform: translateX(0);
    }

    // Button dividers
    &:not(:last-of-type)::after {
      content: "";
      border-right: 0.2rem solid $light-grey;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 50%;
      right: calc((0.5rem + 0.4rem) * -1);
      transform: translateY(-50%);

      @media screen and (max-width: $breakpoint-medium-large) {
        display: none;
      }
    }
  }
}

/* ------------------------------------ *\
   Sortable container
\* ------------------------------------ */

// Main container
.sortable-testimonial {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% + 2rem); // align the items flush with the controls
  transform: translateX(-1rem); // align the items flush with the controls
  margin: 0 auto;
  padding: 0 0 $push 0;

  // Individual item container
  &__item-container {
    margin: 0 1rem 2rem 1rem;
    width: calc(33.33333% - 2rem);
    font-family: $sans;
    font-weight: normal;
    color: $cream;
    font-size: 1rem;

    @media screen and (max-width: $breakpoint-large) {
      width: calc(50% - 2rem);
    }

    @media screen and (max-width: $breakpoint-medium-small) {
      width: calc(100% - 2rem);
    }
  }

  /* ------------------------------------ *\
     Item testimonial content
  \* ------------------------------------ */

  &__content {
    padding: 1rem; // will be 2rem after the border is added
    background-image: url("../images/quotes.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right top;
    position: relative;
    border: 1rem solid;

    // The speech bubble pointer
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      z-index: 1;
      border-style: solid;
      border-width: 2.5rem 2.5rem 0 0.5rem;
      border-color: transparent;
      bottom: -3.5rem;
      left: 1rem;
      transform-origin: center;
    }

    &.students-content {
      background-color: $student-color;
      border-color: $student-color;
      &:after {
        border-top-color: $student-color;
      }
    }
    &.parents-content {
      background-color: $parents-color;
      border-color: $parents-color;
      &:after {
        border-top-color: $parents-color;
      }
    }
    &.writing-content {
      background-color: $writing-color;
      border-color: $writing-color;
      &:after {
        border-top-color: $writing-color;
      }
    }
    &.college-content {
      background-color: $college-color;
      border-color: $college-color;
      &:after {
        border-top-color: $college-color;
      }
    }

    > p {
      margin: 0;
    }
  }

  /* ------------------------------------ *\
     Meta section
  \* ------------------------------------ */

  &__meta {
    margin: 3.5rem 0 0 0;
    display: flex;
    align-items: center;
  }

  &__dropcap {
    flex: 0 1 6rem;
    height: 6rem;
    font-size: 4.3rem;
    font-family: $bold;
    color: $cream;
    text-align: center;

    &.students-dropcap {
      background-color: $student-color;
    }
    &.parents-dropcap {
      background-color: $parents-color;
    }
    &.writing-dropcap {
      background-color: $writing-color;
    }
    &.college-dropcap {
      background-color: $college-color;
    }
  }

  &__meta--content {
    color: $text-color;
    padding-left: 1rem;

    > p {
      margin: 0;
    }
  }

  &__meta--name {
    font-family: $sans-bold;
    font-weight: bold;
  }
  &__meta--role {
  }
}

/* ------------------------------------ *\
   Case study link
\* ------------------------------------ */

.sortable-testimonial {
  &__case-study-link {
    @include button;
    color: $cream;
    background-color: $extra-dark;
    position: relative;
    padding-left: 3rem;
    margin: 1.5rem auto auto auto;
    display: inline-block;
    box-shadow: 0.325rem 0.325rem 0 0 $gradient-d9;

    &::before {
      display: block;
      content: "";
      position: absolute;
      left: 1rem;
      top: 50%;
      background-image: url("../images/triangle.svg");
      background-repeat: no-repeat;
      height: 100%;
      width: 2rem;
      transform: translateY(-50%);
      background-position-y: center;
      transition: all 750ms;
    }

    @include on-event {
      &::before {
        background-image: url("../images/triangle-active.svg");
      }
    }
  }
}
