/* Testimonial image block
--------------------------------------------- */

$testimonial-image-width: 65rem;

body {
  .testimonial-image-wrapper {
    @include fullbleed;
    padding: 0 2rem;
  }
}

.testimonial-image {
  position: relative;
  display: flex;
  margin: $push auto;
  max-width: $breakpoint-large;

  @media screen and (max-width: $breakpoint-large) {
    flex-direction: column;
  }

  &__image {
    width: 63%;

    @media screen and (max-width: $breakpoint-large) {
      width: 100%;
    }
  }

  // Text
  &__text {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $gradient-d9;
    background-image: url("../images/quotes.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    color: $white;
    padding-top: clamp(3.25rem, -7.15rem + 16vw, 6.25rem);
    padding-right: 2.5rem;
    padding-bottom: clamp(1.5rem, -8.9rem + 16vw, 4.5rem);
    padding-left: 2.5rem;
    font-size: clamp(1rem, 0.8039rem + 0.9804vw, 1.625rem);

    @include little-drop-cap;

    &--meta {
      font-size: clamp(1rem, 0.8431rem + 0.7843vw, 1.5rem);
      color: $gradient-b1;
    }

    &--author {
      font-family: $sans-bold;
      font-weight: bold;
    }

    &--role {
      font-family: $sans;
    }

    @media screen and (max-width: $breakpoint-large) {
      width: 100%;
      position: relative;
      top: 0;
      transform: translateY(0);
      background-size: cover;
    }
  }

  // Align image right
  &--r {
    .testimonial-image__text {
      left: 0;
    }
    .testimonial-image__image {
      margin-left: 37%;
      @media screen and (max-width: $breakpoint-large) {
        margin-left: 0;
      }
    }
  }

  // Align image left
  &--l {
    .testimonial-image__text {
      right: 0;
    }
    .testimonial-image__image {
      margin-right: 37%;
      @media screen and (max-width: $breakpoint-large) {
        margin-right: 0;
      }
    }
  }
}
