// -----------------------------------------------------------------------------
// Testimonials footer component
// -----------------------------------------------------------------------------

.testimonial-footer {
  background-image: url("../images/exclamation-point.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  margin-bottom: $push;

  &__content {
    font-size: clamp(1.5rem, 0.7941rem + 3.5294vw, 3.45rem);
    line-height: 1.2;
    color: $gradient-b9;
  }

  &__meta {
    display: block;
    font-size: clamp(1.125rem, 0.9485rem + 0.8824vw, 1.4875rem);
    padding-bottom: 1.5rem;
    color: $gradient-b6;
  }

  &__author {
    font-family: $sans-bold;
    font-weight: bold;
  }

  &__info {
    display: block;
    font-family: $sans;
    font-weight: normal;
  }
}
