.entry-content {
  // Need this specificity to override Genesis style
  ul.filter-controls {
    display: flex;
    margin: 0.5rem 0;
    padding: 0;
    list-style-type: none;

    > li {
      list-style-type: none;
      //   background: white;
      //   border: 1px solid black;
      padding: 0.75rem;

      &:hover,
      :focus {
        cursor: pointer;
      }
    }

    li + li {
      //   margin-left: 2rem;
    }
  }
}

.filter-container {
  //   display: flex;
  //   align-items: space-evenly;
}
.filtr-item {
  //   padding: 0.25em;
}
