/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: 125% / 1.4 $regular;
}

.home h2 {
  font-family: $bold;
  // position: relative;
  @include big-heading-clamp;

  &::after {
    // display: inline;
    // content: "";
    // position: absolute;
    // height: 100%;
    // width: 100%;
    // background-image: url("../images/highlighter-1.svg");
    // background-position: 0 0;
    // background-repeat: no-repeat;
    // background-size: cover;
  }
}

body:not(.home) {
  h1 {
    @include big-heading-clamp;
    font-family: $bold;
    font-weight: 900;
    margin-top: 5rem;
  }

  h2 {
    font-family: $bold;
    font-weight: 900;
    // font-size: 2.75rem;
    font-size: clamp(2rem, 1.7647rem + 1.1765vw, 2.75rem);
    margin: 4rem 0 1rem 0;
  }

  p strong {
    font-family: $bold;
    font-weight: 900;
  }
}

em,
i {
  font-family: $italic;
  font-style: italic;
}
